[submodule "SHA2"]
	path = SHA2
	url = git@github.com:napcae/SHA2.git
[submodule "BachelorThesis"]
	path = BachelorThesis
	url = git@github.com:napcae/BachelorThesis.git
[submodule "WAB3"]
	path = WAB3
	url = git@github.com:napcae/wab3.git
